<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.manish.wabot">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.whatsapp" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsappAutoReply"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="net.manish.wabot.activity.GetContactActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.PermissionCheckActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.ReplyGroupActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.manish.wabot.activity.WebActivity" />

        <activity
            android:name="net.manish.wabot.activity.SendDirectMessageActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustUnspecified|stateVisible|adjustResize" />
        <activity
            android:name="net.manish.wabot.activity.ReplyMessageListActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.ReplyTimeActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.ReplyRulesActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.ReplyHeaderActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.settingsActivity"
            android:exported="false" />
        <activity
            android:name="net.manish.wabot.activity.AddCustomReplyMessageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustUnspecified|stateVisible|adjustResize" />
        <activity
            android:name="net.manish.wabot.activity.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />

        <service
            android:name="net.manish.wabot.NotificationService"
            android:exported="true"
            android:label="WhatsappAutoReply"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.manish.wabot.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/images_path" />
        </provider>
    </application>

</manifest>